<h1 style="text-align: center;">
  <span style="border-bottom: 2px solid #000;">GENERATION OF ANGULAR REACTIVE FORMS DYNAMICALLY</span>
</h1>

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="form-grid">
  <div *ngFor="let field of formConfig" class="form-row">
    <label>{{field.label}}:</label>
    <input *ngIf="field.type === 'text' || field.type === 'email'" [type]="field.type" [formControlName]="field.name">
    <select *ngIf="field.type === 'select'" [formControlName]="field.name">
      <option *ngFor="let option of field.options">
        {{option}}
      </option>

    </select>
  </div>
  <button type="submit"> Submit </button>
</form>